<%- include('partials/header.ejs') %>
<html>

<body>
    <%- include('partials/nav.ejs') %>
    <h2 class="title"><a href="/create-a-plan">Create a plan</a></h2>
    <%- include('partials/activePlans.ejs') %>
    <%- include('partials/createdPlans.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <%- include('partials/footer.ejs') %>
</body>
</html>